{{>/layout/customerHead}}
<link rel="stylesheet" href="/css/customerBoard/customerBoard.css">
{{>/layout/customerHeader}}

<div class="firstContainer"><!--1번컨테이너-->


</div>


<div class="secondContainer"><!--2번컨테이너-->
    <div style="font-weight: bold; font-size: 25px;">원티드에 대해 궁금한점을 검색해주세요 </div>
    
    <br>        
    <div class="questionSearchbar">
        <input class="inputTag" type="text" id="text" placeholder="  서비스 이용방법,비밀번호 찾기 등" required></div>
    
    
    
</div>

<div class="thirdContainer"><!--3번컨테이너-->
    <div class="userContainer">
        <div class="user">개인회원</div>
        <div>개인회원을 위한 이용 안내입니다.</div>
    </div>
    <div class="bizContainer">
        <div class="biz">기업회원</div>
        <div>기업회원을 위한 이용 안내입니다.</div>
    </div>
</div>

<div class="thirdContainer"><!--4번컨테이너-->
    <div class="userFaq">
        <div style="font-weight: bold;">개인회원 자주묻는질문</div>
        <br>
        <div>ㆍ 개인질문내용 예시</div>
        <div>ㆍ 개인질문내용 예시</div>
        <div>ㆍ 개인질문내용 예시</div>
        <div>ㆍ 개인질문내용 예시</div>
        <div>ㆍ 개인질문내용 예시</div>
        <div>ㆍ 개인질문내용 예시</div>
        <div>ㆍ 개인질문내용 예시</div>
        <div>ㆍ 개인질문내용 예시</div>
        <div>ㆍ 개인질문내용 예시</div>
        <div>ㆍ 개인질문내용 예시</div>
    </div>
    <div class="bizFaq">
        <div style="font-weight: bold;">기업회원 자주묻는질문</div>
        <br>
        <div>ㆍ 기업질문내용 예시적기</div>
        <div>ㆍ 기업질문내용 예시적기</div>
        <div>ㆍ 기업질문내용 예시적기</div>
        <div>ㆍ 기업질문내용 예시적기</div>
        <div>ㆍ 기업질문내용 예시적기</div>
        <div>ㆍ 기업질문내용 예시적기</div>
        <div>ㆍ 기업질문내용 예시적기</div>
        <div>ㆍ 기업질문내용 예시적기</div>
        <div>ㆍ 기업질문내용 예시적기</div>
        <div>ㆍ 기업질문내용 예시적기</div>
    </div>
</div>
    

{{>layout/footer}}