<!DOCTYPE html>
<html lang="en">

<head>
    <nav class="navbar navbar-expand-sm bg-white navbar-white ">

        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand " href="#">원티드 채용 솔루션</a>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">


            </div>
            <button class="align-login" type="button" onclick="location.href='/'">원티드 홈페이지</button>
            <button class="align-service" type="button" onclick="location.href='/bizLoginForm'">채용담당자 로그인/회원가입</button>
        </div>
    </nav>
</head>