</head>

<header style="display: flex; justify-content: center;"> 
    
  <nav class="navbar navbar-expand-sm bg-white navbar-white ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" style="font-weight: bold;" href="#">wanted 고객센터</a>
        
      
      <button class="align-service" type="button" style="background-color: #117bff; font-size: 15px  ; color: antiquewhite; ">
        찾으시는 내용이 없으신가요? ☞ 문의하기</button>
    </div>
  </nav>
  <div></div>
</header>

<body style="margin-top: 80px;">