</head>

<body>
  <nav class="navbar navbar-expand-sm bg-white navbar-white " >

    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand " href="#">wanted</a>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">채용</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">이벤트</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">이력서</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">소셜</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">프리랜서</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">AI합격예측</a>
          </li>
        </ul>
      </div>
      <button class="align-login" type="button">회원가입/로그인</button>
      <button class="align-service" type="button">기업서비스</button>
    </div>
  </nav>

  <div class="other-content">
