<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/src/main/resources/css/main.css" />

    <title>Document</title>
</head>

<body>
    <div class="container">
        <a class="HYBE" href="#"><img src="icon.png" class="icon-image">하이브(HYBE)</a>
        <button class="align-service" type="button">팔로우</button>
        <hr class="horizontal-line">
        <br>
        <br>
        <div class="position">
            <p>채용 중인 포지션</p>
        </div>
        <section class="body">
            <div class="advertisement"></div>
            <div class="category-box">
                <div class="category-card">
                    <!-- backgrount-image는 높이와 너비를 줘야 보인다 -->
                    <!--<img class="category-img" src="../../images/basic.jpg"></img>-->
                    <div class="category-name">
                        <p>응원봉 연출오퍼레이터</p>
                        <p>채용보상금 100만원</p>
                        <p>상시 채용</p>
                    </div>
                </div>
                <div class="category-card">
                    <!--<img class="category-img" src="../../images/basic.jpg"></img>-->
                    <div class="category-name">
                        <p>응원봉 연출오퍼레이터</p>
                        <p>채용보상금 100만원</p>
                        <p>상시 채용</p>
                    </div>
                </div>
             
            </div>
            <div class="my-menu">
                <div class="my-menu-card">
                    <div class="my-menu-name">내 프로필</div>
                    <div class="my-menu-name">매치업</div>
                </div>
            </div>
        </section>


        <div>

        </div>
    </div>
</body>

</html>