{{ >/layout/head}}
<link rel="stylesheet" href="/css/bizBoard/bizMain.css">
{{ >/layout/bizheader}}



<div class="main-container">
    <div class="content-box">
        <div class="text">원하는 인재를 찾는 가장 효율적인 방법</div>
        <div class="text size-up">원티드 채용 솔루션</div>
        <button class="button" onclick="location.href='/bizRegistration'">무료로 시작하기</button>
    </div>
    <div class="data">
        <div>300만 합격 데이터 기반의</div>
        <div>AI매칭 기술을 통해 딱 맞는 인재를 추천</div>
        <div class="person">원티드가AI가 합격 가능성이 놓은 인재를 추천합니다.</div>
    </div>
    <img src="/images/bizMain1.png" class="rounded" alt="wanted">
    <div class="backgrond data">
        <div>원하는 조건으로 검색하고</div>
        <div>직접 면접 제안까지</div>
        <div class="person">채용 리드타임이 15일 이상 단축됩니다.</div>
        <img src="/images/bizMain2.png" class="rounded" alt="wanted">

    </div>
    <div class="final-backgrond">
        <div class="data">진짜 채용을 시작해 볼까요?</div>
        <div class="final">앞서가는 기업들은 이미 원티드 AI추천을 통해</div>
        <div class="final">최고의 인재를 채용하고 있습니다.</div>
    </div>
</div>

{{ >/layout/footer}}