{{ >layout/head}}

<link rel="stylesheet" href="/css/bizBoard/searchUser.css">

{{ >layout/header}}

<!-- 광고; 캐러셀? -->

<div class="search">
    <section class="search-section">
        <div class="search-box">
            <div class="search-card searchUser">
                <div class="back-button"> ◁ </div>
                <div class="search-name">인재풀 탐색</div>

            </div>
            <div class="search-card">
                <div class="search-div" style="justify-content: center;">
                    <ul class=" search-detail">
                        <div style="display: flex; align-items: center;">
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                                    style="margin-right: 10px;">
                                    전체직군
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">프론트</a></li>
                                    <li><a class="dropdown-item" href="#">백엔드</a></li>
                                    <li><a class="dropdown-item" href="#">그린컴</a></li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <button type="button" class="btn btn-primary dropdown-toggle" style="width:200px"
                                    data-bs-toggle="dropdown">
                                    전체직무
                                </button>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#">프론트</a></li>
                                    <li><a class="dropdown-item" href="#">백엔드</a></li>
                                    <li><a class="dropdown-item" href="#">그린컴</a></li>
                                </ul>
                            </div>
                            <form>


                            </form>

                        </div>
                        <div style="display: flex; justify-content: center;">
                            <li class="search-tech">
                                <form class="d-flex" action="/" method="get" onsubmit="return valid()"
                                    style="width: max-content; justify-content: space-between;">
                                    <input class="search-input" type="text" placeholder="Search" required />
                                    <button class="search-button" type="submit">Search</button>
                                </form>
                            </li>

                        </div>

                    </ul>


                </div>
            </div>

            <div class="search-card">
                <div class="search-ajax">ajax로 지역/경력/기술스택 출력하기</div>
            </div>
        </div>
    </section>
    <hr class="hr-line">
    <div class="main">
        <div class="left-container">
            <div class="manager-info">
                <div class="bizName">
                    <img class="manager-img" src="/images/basic.jpg"></img>
                    <h5 class="manager-name" style="font-weight: bold;">김티드</h5>
                </div>
                <div class="manager-email">abc123@nate.com</div>
                <div class="manager-email">010-1234-5678</div>
            </div>
            <hr style="border-top: 1px solid black; ">

            <div class="career">
                <div class="career-name">
                    <div>경력</div>
                </div>
                <div style="display: flex; justify-content: center; padding: 3px">
                    <div class="dropdown" style="margin: 10px;">
                        <button type="button" class="btn btn-primary dropdown-toggle" style="width:50px"
                            data-bs-toggle="dropdown">
                            0
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">0</a></li>
                            <li><a class="dropdown-item" href="#">1</a></li>
                            <li><a class="dropdown-item" href="#">2</a></li>
                        </ul>
                    </div>
                    <div style="margin: 2px; margin-top: 10px;">~</div>
                    <div class="dropdown" style="margin: 10px;">
                        <button type="button" class="btn btn-primary dropdown-toggle" style="width:50px"
                            data-bs-toggle="dropdown">
                            35
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">35</a></li>
                            <li><a class="dropdown-item" href="#">34</a></li>
                            <li><a class="dropdown-item" href="#">33</a></li>
                        </ul>
                    </div>
                    <div style="margin: 2px; margin-top: 10px;">년</div>
                </div>
            </div>
            <hr style="border-top: 1px solid black; ">

            <div class="career">
                <div class="career-name">
                    <div>계정 설정</div>
                </div>
                <div style="display: flex; justify-content: space-around;">

                </div>

            </div>
        </div>

        <div class="right-container">
            <div class="resume-item">
                <div class="resume-item-left">
                    <h5 style="font-weight: bold; margin-bottom: 15px;">이름</h5>
                    <h6 style="font-weight: bold; margin-bottom: 20px;">경력</h6>
                    <button class="dibs-button">찜하기</button>
                    <div style="margin-left: 5px;">user번호</div>
                </div>
                <div class="resume-item-middle">
                    <div style="margin-bottom: 13px;">
                        <div style="margin-bottom: 7px;">최근경력</div>
                        <div style="margin-bottom: 7px;">이전경력</div>
                        <div style="margin-bottom: 7px;">학력</div>
                    </div>
                    <div style="margin-bottom: 10px;">기술</div>
                    <div style="margin-top: 7px;">관련 직업</div>
                </div>
                <div class="resume-item-right">
                    <button style="border-radius: 50px; border: none; height: 40px; margin-bottom: 10px;">제안보내기</button>
                    <button style="border-radius: 50px; border: none; height: 40px;">이력서 상세보기</button>
                </div>

            </div>
            <div class="resume-item">
                <div class="resume-item-left">
                    <h5 style="font-weight: bold; margin-bottom: 15px;">이름</h5>
                    <h6 style="font-weight: bold; margin-bottom: 20px;">경력</h6>
                    <button class="dibs-button">찜하기</button>
                    <div style="margin-left: 5px;">user번호</div>
                </div>
                <div class="resume-item-middle">
                    <div style="margin-bottom: 13px;">
                        <div style="margin-bottom: 7px;">최근경력</div>
                        <div style="margin-bottom: 7px;">이전경력</div>
                        <div style="margin-bottom: 7px;">학력</div>
                    </div>
                    <div style="margin-bottom: 10px;">기술</div>
                    <div style="margin-top: 7px;">관련 직업</div>
                </div>
                <div class="resume-item-right">
                    <button style="border-radius: 50px; border: none; height: 40px; margin-bottom: 10px;">제안보내기</button>
                    <button style="border-radius: 50px; border: none; height: 40px;">이력서 상세보기</button>
                </div>

            </div>
            <div class="resume-item">
                <div class="resume-item-left">
                    <h5 style="font-weight: bold; margin-bottom: 15px;">이름</h5>
                    <h6 style="font-weight: bold; margin-bottom: 20px;">경력</h6>
                    <button class="dibs-button">찜하기</button>
                    <div style="margin-left: 5px;">user번호</div>
                </div>
                <div class="resume-item-middle">
                    <div style="margin-bottom: 13px;">
                        <div style="margin-bottom: 7px;">최근경력</div>
                        <div style="margin-bottom: 7px;">이전경력</div>
                        <div style="margin-bottom: 7px;">학력</div>
                    </div>
                    <div style="margin-bottom: 10px;">기술</div>
                    <div style="margin-top: 7px;">관련 직업</div>
                </div>
                <div class="resume-item-right">
                    <button style="border-radius: 50px; border: none; height: 40px; margin-bottom: 10px;">제안보내기</button>
                    <button style="border-radius: 50px; border: none; height: 40px;">이력서 상세보기</button>
                </div>

            </div>

        </div>

    </div>



</div>


{{ >layout/footer}}