{{ >layout/head}}

<link rel="stylesheet" type="text/css" href="/css/index.css">

{{ >layout/header}}



<!-- 광고; 캐러셀? -->

<section class="body">
  <div class="advertisement">
    <img class="advertisement-img" src="/images/basic.jpg"></img>
  </div>

  <div class="category-box">
    <button class="category-card" onclick="location.href='/searchJob'">
      <!-- backgrount-image는 높이와 너비를 줘야 보인다 -->
      <img class="category-img" src="/images/basic.jpg"></img>
      <div class="category-name">채용공고</div>
    </button>
    <button class="category-card" onclick="location.href='/resume'">
      <img class="category-img" src="/images/basic.jpg"></img>
      <div class="category-name">이력서 관리</div>
    </button>
    <button class="category-card" onclick="location.href='#'">
      <img class="category-img" src="/images/basic.jpg"></img>
      <div class="category-name">소셜</div>
    </button>
  </div>
  <div class="my-menu">
    <div class="my-menu-card">
      <button class="my-menu-name profile" onclick="location.href='#'">내 프로필</button>
      <button class="my-menu-name matchup" onclick="location.href='#'">매치업</button>

    </div>
</section>


<section class="hot-position">
  <div class="hot-position-title">요즘 뜨는 포지션</div>
  <div class="hot-position-box">
    <button class="hot-position-card">
      <img class="hot-position-img" src="/images/basic.jpg"></img>
      <div class="hot-position-card-text">
        <div class="hot-position-title">DevOps Engineer</div>
        <div class="hot-position-company">DevOps Engineer</div>
        <div class="hot-position-location">DevOps Engineer</div>
        <div class="hot-position-compensation">DevOps Engineer</div>
      </div>
    </button>
    <button class="hot-position-card">
      <img class="hot-position-img" src="/images/basic.jpg"></img>
      <div class="hot-position-card-text">
        <div class="hot-position-title">ML 연구원/Engineer</div>
        <div class="hot-position-company">ML 연구원/Engineer</div>
        <div class="hot-position-location">ML 연구원/Engineer</div>
        <div class="hot-position-compensation">ML 연구원/Engineer</div>
      </div>
    </button>
    <button class="hot-position-card">
      <img class="hot-position-img" src="/images/basic.jpg"></img>
      <div class="hot-position-card-text">
        <div class="hot-position-title">퍼포먼스마케터</div>
        <div class="hot-position-company">퍼포먼스마케터</div>
        <div class="hot-position-location">퍼포먼스마케터</div>
        <div class="hot-position-compensation">퍼포먼스마케터</div>
      </div>
    </button>
    <button class="hot-position-card">
      <img class="hot-position-img" src="/images/basic.jpg"></img>
      <div class="hot-position-card-text">
        <div class="hot-position-title">SCM 매니저</div>
        <div class="hot-position-company">SCM 매니저</div>
        <div class="hot-position-location">SCM 매니저</div>
        <div class="hot-position-compensation">SCM 매니저</div>
      </div>
    </button>
  </div>
</section>


{{ >layout/footer}}