{{ >layout/head}}

<link rel="stylesheet" type="text/css" href="/src/main/resources/static/css/index.css">

{{ >layout/header}}




  <!-- 광고; 캐러셀? -->

  <section class="body">
    <div class="advertisement">존나큰사진</div>
    <div class="category-box">
      <div class="category-card">
        <!-- backgrount-image는 높이와 너비를 줘야 보인다 -->
        <img class="category-img" src="../../images/basic.jpg"></img>
        <div class="category-name">채용공고</div>
        <div class="category-name">채용공고2</div>
      </div>
      <div class="category-card">
        <img class="category-img" src="../../images/basic.jpg"></img>
        <div class="category-name">이력서 관리</div>
      </div>
      <div class="category-card">
        <img class="category-img" src="../../images/basic.jpg"></img>
        <div class="category-name">프리랜서</div>
      </div>
    </div>
    <div class="my-menu">
      <div class="my-menu-card">
        <div class="my-menu-name">내 프로필</div>
        <div class="my-menu-name">매치업</div>
      </div>
    </div>
  </section>

  <section class="hot-position">
    <div class="hot-position-title">요즘 뜨는 포지션</div>
    <div class="hot-position-box">
      <div class="hot-position-card">
        <img class="category-img" src="../../images/basic.jpg"></img>
        <div class="hot-position-card-text">
          <div class="hot-position-title">DevOps Engineer</div>
          <div class="hot-position-company">DevOps Engineer</div>
          <div class="hot-position-location">DevOps Engineer</div>
          <div class="hot-position-compensation">DevOps Engineer</div>
        </div>

      </div>
      <div class="hot-position-card">
        <img class="category-img" src="../../images/basic.jpg"></img>
        <div class="hot-position-card-text">
          <div class="hot-position-title">ML 연구원/Engineer</div>
          <div class="hot-position-company">ML 연구원/Engineer</div>
          <div class="hot-position-location">ML 연구원/Engineer</div>
          <div class="hot-position-compensation">ML 연구원/Engineer</div>
        </div>

      </div>
      <div class="hot-position-card">
        <img class="category-img" src="../../images/basic.jpg"></img>
        <div class="hot-position-card-text">
          <div class="hot-position-title">퍼포먼스마케터</div>
          <div class="hot-position-company">퍼포먼스마케터</div>
          <div class="hot-position-location">퍼포먼스마케터</div>
          <div class="hot-position-compensation">퍼포먼스마케터</div>
        </div>

      </div>
      <div class="hot-position-card">
        <img class="category-img" src="../../images/basic.jpg"></img>
        <div class="hot-position-card-text">
          <div class="hot-position-title">SCM 매니저</div>
          <div class="hot-position-company">SCM 매니저</div>
          <div class="hot-position-location">SCM 매니저</div>
          <div class="hot-position-compensation">SCM 매니저</div>
        </div>

      </div>
    </div>
  </section>




{{ >layout/footer}}