
.main {
    display: flex;
    justify-content: center;

    margin-top: 10px;
    padding: 20px;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.left-container {
    flex: 20%;
    display: flex;
    flex-direction: column;
    max-width: 250px;
    border-style: solid;
    border-color: rgb(214, 214, 214);
    border-radius: 6px;
    box-shadow: 0 0 3px 0 rgb(214, 214, 214);
    padding: 10px;
    margin-right: 20px;
}

.bizInfo {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    border-style: solid;
    border-color: rgb(214, 214, 214);
    border-radius: 6px;
    box-shadow: 0 0 3px 0 rgb(214, 214, 214);
    margin-bottom: 15px;
}

.bizName {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bizName-img {
    max-width: 30;
    max-height: 30px;
    margin-right: 10px;
}

.hr-info {
    border-top: 1px solid black;
    width: 90%;
    margin: 1px auto;
    text-align: center;
}

.managerName {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}

.managerName2 {
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
    color: gray;

}


.notice-save {
    height: 40px;
    border-style: solid;
    border-color: rgb(214, 214, 214);
    border-radius: 6px;
    box-shadow: 0 0 3px 0 rgb(214, 214, 214);
    background-color: rgb(60, 60, 219);
    color: white;
    margin-bottom: 15px;
}
.notice-listdown{
    height: 40px;
    background-color: white;
    margin-bottom: 15px;
    border-color: white;
}

.hiring-notice {
    padding: 10px;
}
.manage{
    background-color: transparent;
    border: 1px solid gray;
}

.hr-notice {
    border-top: 1px solid black;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.notice-list {
    padding: 10px;
    text-align: left;
    border: none;
}

/* =============================== */

.right-container {
    flex: 50%;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
    border-style: solid;
    border-color: rgb(214, 214, 214);
    border-radius: 6px;
    box-shadow: 0 0 3px 0 rgb(214, 214, 214);
    padding: 20px;
}

.hiring-notice {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}


.hr-notice {
    border-top: 1px solid black;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}


.notice-list {
    display: flex;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: transparent;
    padding: 7px;
}

.input-box {
    width: 400px;
    height: 30px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 14px;
    color: #aaa;
    margin-left: 80px;
    
  }
  
  .notice-test{
    display: flex;
    justify-content: flex-end; /* 요소들을 오른쪽으로 정렬 */
  }
  
  .mainBtn{
    background-color: white;
border: 1px solid gray;

}

  
.manageNotice-main {
    margin-bottom: 40px;
    margin-top: 10px;
    font-weight: bold;

}

.notice-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

.notice-button {
    border: none;
    /* background-color: white; */
    width: 100%;

}

.all {
    margin-right: 1px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.end {
    margin-left: 1px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.sort-index {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: space-around;
}

.notice-item {
    cursor: pointer;
}

.tr,
th {
    padding-left: 50px;
}