{{ >layout/head}}
<link rel="stylesheet" href="/css/userBoard/machup.css">
{{ >layout/header}}

<div class="main">
    <div class="left-container">
        <div class="bizInfo">
            <div class="bizName">
                <img class="bizName-img" src="/images/user/userLogin.jpg"></img>
                
            </div>
            <div class="managerName">진성훈</div>
            <div class="managerName2">1234@1234</div>
            <div class="managerName2">010-1234-5678</div>
        </div>

        <button class="notice-save" onclick="location.href='/userRevise'">+ 기본정보 수정</button>
       
        <br>
        <br>
        <button class="notice-listdown">관심 있음</button>
        <button class="notice-listdown">열람</button>
        <br>
        <button class="notice-listdown">받은 제안</button>
       
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>



    <div class="right-container">




        <div class="hiring-notice">학교.직장등록</div>
        <br>
        <h6>매치업 서비스</h6>
        <div class="notice-list">
            <div class="notice-email">
                학교
            </div>
            <div class="notice-test">
                <div class="input-box" contenteditable="true">
                    학교명  입력
                </div>
                <button type="button" class="mainBtn">
                    입력
                </button>
            </div>
        </div>

        <hr class="hr-notice">
        <div class="notice-list">
            <div class="notice-email">
                직장
            </div>
            <div class="notice-test">
                <div class="input-box" contenteditable="true">
                    직장명 입력
                </div>
                <button type="button" class="mainBtn">
                    입력
                </button>
            </div>
        </div>







        <h4 class="manageNotice-main">매치업 기업보기 </h4>
        <div class="notice-buttons">
            <button class="notice-button all">기업명순</button>
            
            <button class="notice-button hiring">마감일순</button>
            <button class="notice-button hiring">정규직/비정규직</button>

            <button class="notice-button end">설정</button>
        </div>

        <table class="table">
            <thead class="table-success">
                <tr>
                    <th>기업명</th>
                    <th>모집직군</th>
                    <th>마감일</th>
                    <th>정규직/비정규직</th>
                    <th>관리</th>

                </tr>
            </thead>
            <tbody>
                <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>
                <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>
                <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>
                <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>  <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>  <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>  <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>
                <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>
                <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>
                <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>  <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>
                <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>
                <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>
                  <tr class="notice-item" onclick="alert('첫 번째 행 버튼 클릭')">
                    <td>그린컴퓨터</td>
                    <td>백엔드</td>
                    <td>2023.08.29</td>
                    <td>정규직</td>
                    <td><button class="manage">열람</button>
                    <button class="manage">지원하기</button>
                    <button class="manage">삭제</button></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>
{{ >layout/footer}}