<link rel="stylesheet" href="/css/userBoard/userRevise.css">


<body style="margin-top: 80px;">

    <div class="main-container">

        <div class="reviseHead">
            <button style="border-color: transparent;">
                <img src="/images/user/userLogin.jpg" class="icon-jpg">
            </button>
            <br>
            <input type="file" name="id" />
            <h3>최제인님, 환영해요.</h3>
        </div>
        <br>
        <br>
        <br>
        <div class="left-container">
            <div class="revise">
                <div class="hiring-notice">계정관리</div>
                <br>
                <h6>서비스에서 사용하는 내 계정 정보를 관리할 수 있습니다.</h6>
            </div>
            <div class="notice-list">
                <div class="notice-email">
                    이메일
                </div>
                <div class="notice-test">
                    <input class="input-box" contenteditable="true" placeholder="이메일을 입력해주세요.">
                    </input>
                </div>
            </div>

            <hr class="hr-notice">
            <div class="notice-list">
                <div class="notice-email">
                    이름
                </div>
                <div class="notice-test">
                    <input class="input-box" contenteditable="true" placeholder="최제인">
                    </input>
                </div>
            </div>
            <hr class="hr-notice">
            <div class="notice-list">
                <div class="notice-email">
                    휴대폰 번호
                </div>
                <div class="notice-test">
                    <input class="input-box" contenteditable="true" placeholder="01093208540">
                    </input>
                </div>
            </div>
            <hr class="hr-notice">
            <div class="notice-list">
                <div class="notice-email">
                    주소
                </div>
                <div class="notice-test">
                    <input class="input-box" contenteditable="true" placeholder="부산 진구 중앙대로 688, 305호">
                    </input>
                </div>
            </div>
            <hr class="hr-notice">
            <div class="notice-list">
                <div class="notice-email">
                    생년월일
                </div>
                <div class="notice-test">
                    <input class="input-box" contenteditable="true" placeholder="1988.08.09">
                    </input>
                </div>
            </div>
            <br>
            <div style="display: flex; justify-content: center;">
                <a href="/userRevise">
                    <button class="notice-exit">수정완료</button>
                </a>
            </div>

        </div>
        <br>
        <br>
        <br>
        <div class="left-container">
            <div class="revise-down">
                <div class="hiring-notice">개인 정보 보호</div>
                <br>
                <h6>내 계정을 안전하게 보호하기 위한 정보를 관리할 수 있습니다.</h6>
            </div>
                <br>
                <br>
                <div style="display: flex; justify-content: center;">
                <a href="/loginForm">
                    <button class="notice-exit">회원탈퇴</button>
                </a>
          
            </div>
        </div>


    </div>








