{{>layout/head}}
<link rel="stylesheet" href="/css/userBoard/writeResume.css">
{{>layout/header}}

<div class="main-container">
    <h1 class="name">김하율</h1>
    <div class="margin">김하율</div>
    <div>jjubbbong22@gmail.com</div>
    <div>+821093971773</div>
    <h1 class="margin">간단 소개글</h1>
    <hr>
    </hr>
    <ul>
        <li>본인의 업무 경험을 기반으로 핵심 역량과 업무 스킬을 간단히 작성해주세요.</li>
        <li>3~5줄로 요약하여 작성하는 것을 추천합니다!</li>
    </ul>
    <div class="light-text">간단한 자기소개서를 통해서 이력서를 돋보이게 만들어보세요.(3~5줄 권장)</div>


    <h1 class="margin">경력</h1>
    <hr>
    </hr>
    <ul>
        <li>담당하신 업무 중 우선순위가 높은 업무를 선별하여 최신순으로 작성해주세요. </li>
        <li>신입의 경우, 직무와 관련된 대외활동, 인턴, 계약직 경력 등이 있다면 작성해주세요.</li>
        <li>업무 또는 활동 시 담당했던 역할과 과정, 성과에 대해 자세히 작성해주세요. </li>
        <li>업무 성과는 되도록 구체적인 숫자 혹은 [%]로 표현해주세요!</li>
        <li>커리어 조회 후 기업명이 실제와 다른 경우, 부서명/직책 란에 원하시는 기업명을 작성해주세요.</li>
    </ul>
    <button class="custom-button blue-button">+ 경력 불러오기</button>
    <button class="custom-button white-button">+ 직접 추가하기</button>
    <h1 class="margin, name">학력</h1>
    <hr>
    </hr>
    <ul>
        <li>최신순으로 작성해주세요.</li>
    </ul>
    <button class="plus-button">+ 추가</button>
    <hr class="plus-hr">
    </hr>
    <div class="light-text">
        <ul class="school">
            <li>
                <div class="left-text">YYYY.MM - YYYY.MM</div>
                <div>
                    <label>
                        <input type="checkbox" class="checkbox">
                        현재 재학중
                    </label>
                </div>

            </li>
            <li>
                <div class="right-text">학교명</div>
                <div class="right-text">전공 및 학위 (ex: 경영학과 학사)</div>
                <div class="right-text">이수과목 또는 연구내용</div>
                <button class="">x</button>
            </li>
            <li>

            </li>
        </ul>
    </div>
    <h1 class=" margin">스킬</h1>
    <hr>
    </hr>
    <ul>
        <li>개발 스택, 디자인 툴, 마케팅 툴 등 가지고 있는 직무와 관련된 스킬을 추가해보세요.</li>
        <li>데이터 분석 툴이나 협업 툴 등의 사용해본 경험이 있으신 툴들도 추가해보세요</li>
    </ul>
    <div class="btn-group">
        <div>같은 직무의 서류 합격 이력서에서 많이 사용된 스킬입니다. 스킬을 추가해보세요!</div>
        <button type="button" class="btn btn-primary">javaScript +</button>
        <button type="button" class="btn btn-primary">Git +</button>
        <button type="button" class="btn btn-primary">MySQL +</button>
        <button type="button" class="btn btn-primary">Java +</button>
        <button type="button" class="btn btn-primary">Spring Framework +</button>
        <button type="button" class="btn btn-primary">HTML</button>
        <button type="button" class="btn btn-primary">AWS</button>
        <div class="search-container">
            <input type="search" class="search-input" placeholder="보유한 스킬을 검색해주세요.">
            <img src="search-icon.png" alt="돋보기 아이콘" class="search-icon">
        </div>
    </div>
    <h1 class="name">수상 및 기타</h1>
    <hr>
    </hr>
    <ul>
        <li>수상 이력, 직무 관련 자격증, 수료한 교육이나 참석한 외부활동 등이 있다면 간략히 작성해주세요.</li>
        <li>지원하는 회사에서 요구하는 경우가 아니라면 운전면허증과 같은 자격증은 생략하는 것이 좋습니다!</li>
    </ul>
    <button class="plus-button">+ 추가</button>
    <h1 class="margin">외국어</h1>
    <hr>
    <ul>
        <li>외국어 자격증을 보유한 경우 작성해주세요. </li>
        <li>활용 가능한 외국어가 있다면, 어느정도 수준인지 레벨을 선택해주세요.</li>
    </ul>
    <button class="plus-button">+ 추가</button>
    <h1 class="margin">링크</h1>
    <hr>
    <ul>
        <li>깃헙, 노션으로 작성한 포트폴리오, 구글 드라이브 파일 등 업무 성과를 보여줄 수 있는 링크가 있다면 작성해주세요.</li>
    </ul>
    <button class="plus-button">+ 추가</button>

    <button type="button" class="save-button">저장 완료</button>
</div>

</body>

</html>